.container{
    width: 185px;
    margin: 10px;
    padding: 10px;

    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infos-container{
    margin: 10px 0;
}

.infos-container input{
    padding: 3.5px 5px 0 ;
}

.infos-container button{
    border: none;
    padding: 5px;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 600;
    color: white;

    cursor: pointer;
}

.infos-container:last-child{
    display: flex;
}
.salvar{
    background-color: aquamarine;
}

.limpar {
    background-color: tomato;
}