<div class="container">
    <div class="infos-container">
        <label for="nome">Nome: </label>
        <input id="nome" value={{exercicio.nome}} disabled>
    </div>

    <div class="infos-container">
        <label for="carga">Carga: </label>
        <input id="carga" value={{exercicio.carga}} disabled>
    </div>

    <div class="infos-container">
        <label for="rep">Repetições: </label>
        <input id="rep" value={{exercicio.repeticoes}} disabled>
    </div>

    <div class="infos-container">
        <label for="cargAl">Carga Alcançada: </label>
        <input id='cargAl' value={{exercicio.cargaAlcancada}}>
    </div>

    <div class="infos-container">
        <label for="repF">Repetições Feitas: </label>
        <input id="repF" value={{exercicio.repeticoesFeitas}}>
    </div>

    <div class="infos-container">        
        
        <button class="salvar">Salvar Dados</button>
        <button class="limpar">Limpar Dados</button>

    </div>
</div>