<div *ngIf=' exercicio && exercicio._id' class="container">
    <button class="deletar" (click)="excluirTreino()">X</button>

    <div class="infos-container">
        <label >Nome: </label>
        <input id="nome" value={{exercicio.nome}} disabled>
    </div>

    <div class="infos-container">
        <label >Carga: </label>
        <input id="carga" value={{exercicio.carga}} disabled>
    </div>

    <div class="infos-container">
        <label >Repetições: </label>
        <input id="rep" value={{exercicio.repeticoes}} disabled>
    </div>

    <div class="infos-container">
        <label >Serie: </label>
        <input id="serie" value={{exercicio.series}} disabled>
    </div>

    <div class="infos-container">
        <label >Carga Alcançada: </label>
        <input id='cargAl' value={{exercicio.cargaAlcancada}} [(ngModel)]="exercicio.cargaAlcancada">
    </div>

    <div class="infos-container">
        <label >Repetições Feitas: </label>
        <input id="repF" value={{exercicio.repeticoesFeitas}} [(ngModel)]="exercicio.repeticoesFeitas" >
    </div>

    <div class="infos-container">        
        <button class="salvar botao-alteracao" (click)='salvarTreino()'>Salvar Dados</button>
        <button class="limpar botao-alteracao" (click)='limparTreino()'>Limpar Dados</button>
    </div>
</div>